.card {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
        min-width: 100px;
        height: 30px;
        color: #fff;
        padding: 5px 10px;
        font-weight: bold;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        outline: none;
        border-radius: 5px;
        border: none;
        background: #343a40;
        box-shadow: 0 5px #212529;
        margin-top: 10px;
      }
      .css-button-3d--black:hover {
        box-shadow: 0 3px #212529;
        top: 1px;
      }
      .css-button-3d--black:active {
        box-shadow: 0 0 #212529;
        top: 5px;
      }


input{
    background: rgb(248, 247, 247);
    border: 1px solid #e0dcdc;
    border-radius: 5px 5px 5px 5px;
    color: #1f1e1e;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}
