<div class="card1 d-flex">
  <mat-card class="example-card" style="height: 500px; width: 300px">
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>Angular</mat-card-title>
    </mat-card-header>
    <img class="img"
      mat-card-image
      src="assets/img/angularlogo.png"
      alt="Angular"
    />
    <mat-card-content class="mt-3">
      <p>
        Aprende a desarrollar aplicaciones web modernas de forma práctica y desde cero con Angular 4, 5, 7, 8, 9, 12, 14 y 15
      </p>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card" style="height: 500px; width: 300px">
    <mat-card-header class="d-flex justify-content-center">
      <mat-card-title>Javascript</mat-card-title>
      
    </mat-card-header>
    <img
      mat-card-image
      src="assets/img/descarga.png"
      alt="javascript"
    />
    <mat-card-content class="mt-3">
      <p>
        Cursos online en vivo de. Javascript. Iníciate en el mundo de la programación, con el lenguaje más versátil y demandado del mercado.
      </p>
    </mat-card-content>
  </mat-card>
</div>
<div class="card2 d-flex">
    <mat-card class="example-card" style="height: 500px; width: 300px">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>Html</mat-card-title>
      </mat-card-header>
      <img class="img"
        mat-card-image
        src="assets/img/HTML-logo.jpg"
        alt="Angular"
      />
      <mat-card-content class="mt-3">
        <p>
            Con este curso sin coste te introducirás en el diseño de páginas web de manera profesional. En la primera parte del curso aprenderás cómo nació la Web y cómo ha llegado a ser lo que es hoy. 
        </p>
      </mat-card-content>
    </mat-card>
  
    <mat-card class="example-card" style="height: 500px; width: 300px">
      <mat-card-header class="d-flex justify-content-center">
        <mat-card-title>CSS</mat-card-title>
        
      </mat-card-header>
      <img
        mat-card-image
        src="assets/img/csslogo.png"
        alt="javascript"
      />
      <mat-card-content class="mt-3">
        <p>
            Este reto está diseñado para las personas que quieran dominar y aprender CSS en un 30 días, este programa llevará tus habilidades de CSS, desde un nivel inicial, hasta un nivel avanzado.
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  
