<div class="registro">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title text-center">Inicio Sesion</h5>
      <div class="email d-flex flex-column">
        <span class="text-center">Email</span>
        <input type="text" />
      </div>
      <div class="contraseña d-flex flex-column">
        <span class="text-center">Contraseña</span>
        <input type="password" />
      </div>
      <div class="boton text-center">
        <button type="button" class="btn btn-primary mt-3">
          Iniciar Sesion
        </button>
      </div>
    </div>
  </div>
</div>
