<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side">

    <mat-nav-list>

        <a
        [routerLink]="link.path"
        item
        mat-list-item
        *ngFor="let link of links"
        [activated]="link.isActive"
        >{{ link.title }}</a
        >
    </mat-nav-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <mat-toolbar color="primary">
      <button
        (click)="drawer.toggle()"
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with menu icon"
      >
        <mat-icon>menu</mat-icon>
      </button>
      <span appFontSize>Pre Entrega Final</span>
      <!-- <span class="example-spacer"></span> -->
      <button
        mat-icon-button
        class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon"
      >
        <!-- <mat-icon>favorite</mat-icon> -->
      </button>
      <button
        mat-icon-button
        class="example-icon"
        aria-label="Example icon-button with share icon"
      >
        <!-- <mat-icon>share</mat-icon> -->
      </button>
    </mat-toolbar>
    <main>
      <router-outlet></router-outlet>
      <!-- <app-card></app-card> -->
      <!-- <app-tabla></app-tabla> -->
    </main>
  </div>
</mat-drawer-container>
